.table-data {
  height: 88vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-size: 1.4rem;
  padding-top: 10rem;
  table {
    flex: 1 1 auto;
    border-collapse: collapse;
    width: 100%;
    th,
    td {
      padding: 0.9rem;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }
    th {
      font-size: 1.6rem;
      font-weight: bold;
      padding: 1.5rem;
    }
    tr:hover {
      background-color: #f5f5ff;
    }
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: var(--color-grey-light-2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--color-grey-light-2);
  }
}
