.nav-bar {
  color: var(--color-white);
  // background-color: orange;
  height: 12vh;
  // width: 100vw;
  background-color: var(--color-primary-dark);
  // color: var(--color-primary-dark);
  // background-color: var(--color-white);
  // &__logo {
  //   font-size: 3.5rem;
  //   &--link {
  //     color: var(--color-primary-dark);
  //     text-decoration: none;
  //   }
  // }
  &__items {
    // display: flex;
    display: none;
    list-style: none;
  }
  &__link {
    position: relative;
    margin: auto 0.5rem;
    flex: 0 1 auto;
  }
  &__item {
    text-decoration: none;
    color: currentColor;
    font-size: 1.8rem;
    font-weight: bold;
    margin: auto 1rem;
  }
  &__item::before {
    content: "";
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    height: 3px;
    width: 1px;
    background-color: var(--color-white);
    // background-color: var(--color-primary-dark);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.1s;
  }
  &__item:hover::before {
    transform: scaleY(1);
    width: 100%;
  }
}

.active::before {
  transform: scaleY(1);
  width: 100%;
}

.container {
  margin: auto 5rem;
  padding: 2.5rem 1rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-navbar {
  flex: 0 1 auto;
  font-size: 2rem;
  border: 2px var(--color-white) solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  &__login {
    color: var(--color-white);
    font-weight: bold;
  }
  &:hover {
    background-color: var(--color-white);
    .user-navbar__login {
      color: var(--color-primary-dark);
    }
  }
}

.white {
  color: var(--color-primary-dark) !important;
  background-color: var(--color-white) !important;
  box-shadow: var(--shadow-dark);
  .nav-bar__item::before {
    background-color: var(--color-primary-dark);
  }
  .user-navbar {
    border-color: var(--color-primary-dark);
    &__login {
      color: var(--color-primary-dark);
    }
    &:hover {
      background-color: var(--color-primary-dark);
      .user-navbar__login {
        color: var(--color-white);
      }
    }
  }
  .bar__line {
    background-color: var(--color-primary-dark);
  }
}

.bar {
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  outline: none;
  cursor: pointer;
  &__line {
    height: 0.3rem;
    width: 100%;
    border-radius: 1rem;
    background-color: white;
  }
}

@media (max-width: 700px) {
  .bar {
    display: flex;
  }
  .container {
    padding: 2.5rem 0.1rem;
  }
}

@media (min-width: 701px) {
  .nav-bar__items {
    display: flex;
  }
}
