.policy-page {
  display: flex;
  height: 88vh;
}

.side-navbar {
  font-size: 2.5rem;
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__item {
    margin: 1rem;
    text-decoration: none;
    color: var(--color-primary-dark);
  }
}

.policies {
  padding-top: 1rem;
  flex: 0 0 80%;
  font-size: 1.7rem;
  overflow-y: scroll;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
    border-radius: 10px;
    background-color: var(--color-grey-light-1);
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: var(--color-grey-light-2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--color-grey-light-4);
  }
}

.active {
  font-weight: bold;
}
